

.stars{
font-size: 0.8rem;
color: rgba(0, 0, 0, 0.6);
font-weight: bold;
margin: 3px 0px 3px 4px;
}


.reviews{
        font-size: 0.8rem;
        color: #0038FF99;
        font-weight: bold;
       
}

.address{
    font-size: 0.8rem;
margin: 0;
padding: 0;

}

.header{margin: 0%;}