
body{
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    background-color: #FAFAFA;
    min-height:calc(100vh - 57px) ;
    }

    .googleAuto{
        z-index: 1400;
    }

    .btn:disabled{
        background-color: gray;
        background: gray;
        }