.text{
font-size: 1.3rem !important ;
}

.subHeader{
    font-size: 2rem !important;
}

.mainHeader{
    font-size:3rem !important;
}

@media screen and (max-width:1000px) {
    .text{
        font-size: 1rem !important ;
        }
        
       


}


@media screen and (max-width:600px){
        
        .mainHeader{
            font-size:2rem !important;
        }  
        .subHeader{
            font-size: 1.5rem !important;
        }

}